%h1 About Knowflo
%br

%p Knowflo is a simple Q&A site where you can post questions, answers, comments, and interact with other people who are knowledgable about a particular topic.
%p Groups can be created to cluster users around a particular topic and build a sense of community. Those groups can be open to anyone (public) or private and invitation-only.
%p Knowflo was built nights and weekends (while doing other more important stuff!) to help facilitate private exchanges for a particular software accelerator program. Please note that the system is still very very beta, but we found it useful. And we hope you do too :).

