%h1 About Knowflo
%br

:markdown
  Knowflo is a simple Q&A site where you can post questions, answers, comments, and interact with other people who are knowledgable about a particular topic.

  Groups can be created to cluster users around a particular topic and build a sense of community.
  Those groups can be open to anyone (public) or private and invitation-only.

  This project was originally developed to help facilitate private exchanges for a particular startup accelerator program.
  Please note that the system is still very beta, but we found it useful. And we hope you do too.
  If it's missing a feature you'd like to see made available, the source for the project is available on
  [Github](http://github.com/knowflo/knowflo). Pull requests are happily accepted!
