%h1 Contact Us
%br

%p
  Some day there'll be a Q&A group for support (makes sense, right?)
%p
  But for now, if you're having problems or want to report an issue, just send an email to
  = mail_to('knowflow@zerosum.org', 'knowflow@zerosum.org')

